* {
    position: relative;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1000px;
    height: 30px;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 900px;
    align-items: center;
}
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}
p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 140%;
    text-align: justify;
    width:100%;
}
i {
    font-style: italic;
}
a {
    text-decoration: none;
    color: #0077cc;
}
a:hover {
    text-decoration: underline;
}
blockquote {
    font-style: italic;
    padding-left: 15px;
    border-left: 2px #1f9d2f solid;
    margin-bottom: 15px;
    margin-left: 0;
    width: calc(100% - 17px);
}
h3 {
    font-size: 1rem;
    display: block;
    align-self: start;
    font-weight: 700;
    margin-left: 25px;
}
h3:before {
    content: '•';
    top: -1px;
    position: relative;
    margin-right: 4px;
}
b {
    font-weight: bold;
}
img {
    margin-bottom: 15px;
    max-width: 90%;
}
h2 {
    font-size: 1.4rem;
    width: 100%;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 20px;
}
li {
    list-style: none;
    margin-bottom: 10px;
}